# Project settings
.cproject
.project

# Project folders
.idea/
cmake-build*/
.settings/
Debug/
obj/
tmp/
venv/

# Log
log.txt

# Executables
Delaunay

# Single files
*.txt
*.a
*.out
Delaunay.cbp
cmake_install.cmake